$color-white: #fff;
$color-black: #000;
$color-blue: #1c7ed6;
$color-purple: #713287;
$color-purple-2: #2e0a3b;
$color-purple-3: #522462;

$color-green: #82be00;
$color-gray: #8d8d8d;
$color-gray-2: #d1d1d1;

$font-size: 14px;
$font-family: 'Roboto',
sans-serif;

$header-height: 78px;

$mobile: 576px;
$tablet: 768px;
$desktop-old: 991px;
$desktop: 1200px;